.md-fab-bottom-right {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.md-icon-ux {
    width: 100px;
}
.icon {
  font-size: 48px;
}

.my-md-card {
  margin: 2px;
}

.my-md-card md-card-content {
  padding: 2px;
  height: 100%;
}

.my-md-card md-card-title {
  padding: 2px;
  margin: 0px;
}

.my-container md-sidenav {
  display: flex;
}
