.mat-table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.my-td-data-table-cell {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 20px;
}

[layout="row"] > * {
  margin: 0 0px; }

